@import "../../css-config/mixin.scss";

.header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: black;
        color: white;
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
        height: 5rem;
    }

    h1 {
        text-decoration: none;
        text-transform: lowercase;
        margin: 4rem 0;
        letter-spacing: 0.4rem;
        font-weight: 400;
        font-size: 3rem;
        @include sm {
            font-size: 4.5rem;
        }
        @include md {
            font-size: 6rem;
        }
    }
    .menu_bar {
        position: relative;
        min-width: 75%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 3rem;
        @include sm {
            min-width: 60%;
        }
        @include md {
            min-width: 45%;
        }
        &.sticky-header {
            position: sticky;
            top: 0;
            animation: stickyHeader 0.3s ease forwards;
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 1rem;
            @include sm {
                font-size: 1.3rem;
            }
            @include md {
                font-size: 1.5rem;
            }
            svg {
                font-size: 1rem;
                @include sm {
                    font-size: 1.3rem;
                }
                @include md {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@keyframes stickyHeader {
    0% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(0px);
    }
}
